# no output folders
log/

*csv
*json
*pb

# no static
routes.txt
stop_times.txt
stops.txt
trips.txt

# no Python cache
scripts/__pycache__/
*.pyc
*.pyo
*.pyd
*.cache

# no temp. file
*.tmp
*.log
*.bak
*.swp

# no IDE / editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
